.option-control-wrapper{
    padding: 5px;
    border-bottom: 2px solid #eeeeee;
    display: flex
}


.option-control-button{
    padding: 5px 6px;
    margin: 5px 6px;
    min-width:50px;
    border-radius: 1px;
    width: auto;
    cursor: pointer;
    border: none;
    background-color: #fff;

    font-size: 10px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #8d9191;
}


.option-control-button:hover {
    color: #46B0EE;
    font-weight: 600;
} 


.btn-effect-show{
    display: block;
}

.btn-effect-trigger:hover .btn-effect-show{
    display: block;
} 

