.heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #555555;
  margin: 0px !important;
}

.heading-two {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #46B0EE;
  margin: 0px !important;
}

.heading-three {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #BFBFBF;
  margin: 0px !important;
}

.caption {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #838585;
  margin: 0px !important;
}