.heading {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #555555;
  margin: 0px !important;
}

.heading-two {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 600;
  color: #46B0EE;
  margin: 0px !important;
}

.heading-three {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #BFBFBF;
  margin: 0px !important;
}

.caption {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #838585;
  margin: 0px !important;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container{
  /* height: 100vh;
  min-height: 500px; */
  background-color: #fff;
  height: 100vh;
}

.head{
  height: 50px;
  padding: 10px;
  margin: 0px;
}
